.github/
3rd/
backup/
benchmarks/
docs/
include/
plugins/
python/
scripts/
src/
src2/
tests/
web/
.clang-format
.gitattributes
.gitmodules
amalgamate.py
build.sh
build_android_libs.sh
build_darwin_libs.sh
build_dll.sh
build_g.sh
build_g_32.sh
build_ios_libs.sh
build_web.sh
CMakeLists.txt
CMakeOptions.txt
cmake_build.py
CODE_OF_CONDUCT.md
compile_flags.txt
prebuild.py
pyrightconfig.json
README.md
